:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

#menu {
    background-color: #D84282;
    height: var(--menu-bar-height);
    width: var(--menu-bar-width);
    display: block;
    position: relative;
    transition: all 900ms ease-in-out;
}

#menu::before,
#menu::after {
    background-color: #D84282;
    height: var(--menu-bar-height);
    width: var(--menu-bar-width);
    position: absolute;
    content: "";
    transition: 900ms ease;
}

#menu::before {
    left: 0;
    top: -20px;
}

#menu::after {
    left: 0;
    top: 20px;
}

#container {
    /*border: red solid 2px;*/
    height: 50px;
    width: var(--menu-bar-width);
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

#container:hover #menu{
    background-color: transparent;
}

#container:hover #menu::before {
    transform: rotate(45deg);
    top: 0;
}

#container:hover #menu::after {
    transform: rotate(-45deg);
    top: 0;
}